.separator {
    width: 100%;
    position: relative;
    height: 60px; 
    background-color: rgb(245, 245, 245);
    border-radius: 0 0 50% 50%;
}

.separator::before {
    content: '';
    position: absolute;
    bottom: -20px; /* Ajusta esto para que la curva se vea correctamente */
    left: 0;
    right: 0;
    height: 80px; /* Ajusta la altura para que encaje con la curva */
    background-color: red;
    border-radius:0; 
    z-index: -1;
}
